@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    line-height: 1.7em;
    
}

input[type="radio"]{
    -webkit-appearance: radio;
}

.checkout{
    width: 60vw;
    min-height: 80vh;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;

}

.checkout > .flex-column {
    line-height: 1em;
}

.checkout-extras > .flex-row{
    display: grid;
    grid-template-columns: 0.5fr 4fr 3fr 0.2fr;
    width: 60vw;
    
}

.checkout span{
    margin-bottom: -40px;
    margin-top: -20px;
    border-radius: 5px;
    font-weight: 800;
}

.cart-item{
    width: 80%;
    border-radius: 25px;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    min-height: 20vh;

}

.cart-item:nth-child(even){
    background-color: var(--bg);
}
.cart-item p{
    font-weight: 300;
    font-size: 0.9em;
    text-align: start;
}

.checkout h4{
    text-align: left;
    align-self: flex-end;
    margin-right: 10%;
}

.payment{
    width: 40vw;
    min-height: 80vh;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    color: var(--second);
    padding: 15px 15px 15px 15px;
    line-height: 0.5em;
    margin: 170px 0 20px 0;
    top: 0;
}




.delivery-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--third);
    color: var(--third);
    font-weight: 800;
    padding: 0 10px 0 10px;
    font-size: 0.8em;
    border-radius: 5px;
    width: 100px;
    margin-right: 10px;
    height: 45px;
    
}

.payment h3{
    margin-top: -10px;
    margin-bottom: 10px;
}

.payment p{
    margin-top: -20px;
}

.payment form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.payment form label{
    font-size: 0.8em;
    font-weight: 700;
}

.payment form input{
    margin-bottom: 20px;
   
    width: 200px;
    
    color: var(--second);
    
}

.payment form select{
    margin-bottom: 10px;
    
}

.payment p{
    margin-top: 0;
    margin-bottom: 10px;
}

.credit-card{
    /* align-self: center; */
    /* border: 1px solid white; */
    padding: 20px 20px 20px 20px;
    width: 60%;
    border-radius: 10px;
    background-color: rgba(50 , 50, 50, 0.1);
}

.debit-card{
    /* align-self: center; */
    /* border: 1px solid yellowgreen; */
    padding: 20px 20px 20px 20px;
    width: 60%;
    border-radius: 10px;
    background-color: rgba(50 , 50, 50, 0.1);
}

.motoboy{
    /* align-self: center; */
    /* border: 1px solid white; */
    padding: 20px 20px 20px 20px;
    width: 60%;
    border-radius: 10px;
    background-color: rgba(50 , 50, 50, 0.1);
}

.credit-card h3, .debit-card h3{
    margin-top: -10px;
    margin-bottom: 10px;
}

.credit-card label, .debit-card label{
    margin-top: -10px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

.flex-column{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    
}

.checkout-extras{
    margin-top: -30px;
}



#cvv{
    width: 100px;
}

.submit-button{
    cursor: pointer;
}

textarea:focus, input:focus{
    outline: none;
}

#credit, #debit, #motoboy, #motoboy-card, #motoboy-money{
    margin: 0 -80px 10px -95px;
}

.payment-button{
    flex-direction: row;
    background-color: var(--red);
    color: white;
    font-weight: 800;
    width: 200px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

}

@media(max-width: 600px){
    .container{
        max-width:100vw;
        flex-direction: column;
    }

    .top-mobile{
        display: flex;
        width: 100vw;
        justify-content: space-between;
        background-color: var(--red);
        height: 75px;
        color: white;
    }

    .mobile-icon{
        font-size: 2em;
        margin: 15px 10px 10px 10px;

    }

    .cart-icon{
        font-size: 3em;
        color: var(--red) !important;
    }

    .nav{
        display: none;
    }

    .product{
        display: none;
    }

    .card{
        width: 100vw;
    }

    .product-box{
        width: 90vw;
    }
    .checkout{
        width: 100vw;
    }

    .cart-item{
        width: 95%;
    }

    .product-box h4{
        font-size: 1.1em;
    }

    .checkout span{
        margin-bottom: -10px;
        margin-top: -30px;
    }

    .payment{

        margin-top: 50px;
        border-radius: 0px;
        padding-top: 100px;

        width: 90vw;
        min-height: 100vh;
        overflow: scroll;
    }

    .card-modal{
        width: 90vw;
        position: fixed;
        height: 100vh;
        overflow-y: hidden;
        bottom: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: var(--bg);
        padding-top: 100px;
        overflow-y: hidden;
        
        
        
    }

    .confirmation-modal{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        background-color: rgba(230, 230, 230, 1);
        backdrop-filter: blur(2px);
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .loading-modal{
        width: 100%;
        display: none;
        flex-direction: column;
        min-height: 100vh;
        position:absolute;
        background-color: rgba(255,255,255,0.8);
        backdrop-filter: blur(2px);
        align-items: center;
        justify-content: center;
    }

    .confirmation-modal p{
        margin: 0 10px 0 10px;
    }

    .card-modal > .credit-card {
        
    }

    .credit-card, .debit-card{
        width: 90%;
    }

    .credit-card input{
        margin-left: -10px;

    }

    .credit-card label{
        margin-left: -10px;
    }
    


}